
/* Nav bar */
.navbar {
    height: 70px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #FFFFFF;
    width: 100%;
    border-bottom: 1px solid rgb(228, 225, 225);
}

.nav-title h2{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 18px;
}
.content-title {
    color: black;
    font-weight: bold;
    font-size: 1rem;
}
.content-title:hover {
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: rgb(223, 194, 121)
}
.nav-content1 {
    display: flex;
    margin-bottom: 25px;
    gap: 30px;    
}
.nav-logo img{
    height: 60px;
    width: 120px;
    object-fit: cover;
}
.nav-content2 {
    display: flex;
    gap: 30px;
    font-weight: bold;
    font-size: 0.85rem;
}
.nav-content2 .nav-search-bar {
    padding: 3px;
    outline: none;
    height: 30px;
    border: 1px solid rgb(201, 200, 200);
    display: flex;
    align-items: center;
    margin-top: 5px;
}
.nav-content2 .nav-search-bar::placeholder{
    font-size: 0.8rem;
    color: rgb(134, 134, 134);
}
.nav-content2 button {
    border: none;
    background-color: #FFFFFF;
    outline: none;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    align-items: center;
}
.content-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    color: black;
    font-weight: bold;

}
.search-product {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.nav-cart-count {
    height: 15px;
    width:15px;
    background-color: rgb(88, 88, 167);
    color:#FFFFFF;
    border-radius: 50%;
    margin-top: -4px;
    margin-left: -36px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.65rem;
}

@media (max-width:600px){
    .navbar {
        width: 100%;
    }
    .nav-title h2 {
        font-size: 0.76rem;
        margin-top: 27px;
    }
    .content-title {
        font-size: 0.7rem;
        
    }
    .nav-content1 {
        display: flex;
        gap: 10px;    
    }
    .nav-logo img{
        height: 60px;
        width: 80px;
        object-fit: cover;
    }
    .nav-content2 {
        display: flex;
        gap: 10px;
        font-size: 0.4rem;
        
    }
    .nav-content2 .nav-search-bar {
        margin-top: 10px;
        padding: 2px;
        height: 15px;
        width: 50px;
        font-size: 0.4rem;
    }
    .nav-content2 .nav-search-bar::placeholder{
        font-size: 0.4rem;
    }
    .nav-cart-count {
        height: 12px;
        width: 12px;
        margin-left: -20px;
        margin-top: -3px;
        font-size: 0.5rem;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 900px){
    .nav-content2 {
        display: flex;
        gap: 15px;    
    }
    .nav-content2 .nav-search-bar {
        height: 20px;
        width: 100px;
        margin-top: 10px;
        font-size: 0.6rem;
    }
    .nav-cart-count {
        margin-left: -25px;
        margin-top: -3px;
        font-size: 0.5rem;
    }
}